<div class="wrapper" ng-init="init()">
	<div class="room-head bg-dark-blue">
		<img src="assets/images/logo.png" class="logo" />
		<ul>
			<li>
				<button class="btn">Invite</button>
			</li>
			<li>
				<button class="btn">Upload</button>
			</li>
			<li>
				<button class="btn">Doc</button>
			</li>
		</ul>
		<button class="btn btn-danger exit" ng-click="logout()">Exit</button>
	</div>
	<div class="content-wrapper">
		<div class="board-wrapper">
			<div class="tools bg-light-black">
				<ul>
					<li>
						<button class="btn">A</button>
					</li>
					<li>
						<button class="btn">B</button>
					</li>
					<li>
						<button class="btn">C</button>
					</li>
					<li>
						<button class="btn">D</button>
					</li>
					<li>
						<button class="btn">E</button>
					</li>
				</ul>
			</div>
			<div class="board bg-white">
				<div class="board-tabs">
					<ul class="nav nav-tabs" role="tablist">
					  <li class="active"><a href="#">Home</a></li>
					  <li><a href="#">Profile</a></li>
					  <li><a href="#">Messages</a></li>
					</ul>
				</div>
				<div class="white-board">
			</div>
			</div>
		</div>
		<div class="chat" ng-controller="chat" ng-init="init()">
			<div class="active-members">
				<ul class="list-group">
				  <li ng-repeat="user in users" class="list-group-item" ng-click="startChatWith(user)">{{user.name}}</li>
				</ul>
			</div>
			<div class="messages">
				<ul class="list-group">
				  <li class="list-group-item" ng-repeat="message in messages">
				  	<h4>{{message.user}}</h4>
				  	<p>{{message.text}}</p>
				  </li>
				</ul>
			</div>
			<div class="add-message">
				<form ng-submit="sendMessage();" class="form-inline">
					<input type="text" class="chat-new-message" ng-model="message">
					<button  class="btn">Add</button>
				</form>
			</div>
		</div>
	</div>
</div>


